body {
  background: #2e2e2e;
  text-align: center;
  display: flex;
  color: whitesmoke;
  font-family: fantasy;

  flex-direction: column;
  align-items: center;
}

.title {
  display: flex;
  align-items: center;
}

#flag {
  margin-left: -43%;
  margin-right: 27%;
}

.instructions {
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}
